/* ================================================================================================
// 	File Name: style.scss
// 	Description: Style for customization.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Chameleon Admin - Modern Bootstrap 4 WebApp & Dashboard HTML Template + UI Kit
// 	Version: 1.0
// 	Author: ThemeSelection
// 	Author URL: https://themeselection.com/
// ================================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.header-navbar.navbar-brand-center .navbar-header {
	width: 500px;
}

.nav.nav-tabs .nav-item .nav-link.active {
	border-radius: 0.25rem;
	-webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
