/*=========================================================================================
	File Name: horizontal-menu.scss
	Description: A classic horizontal menu for easy navingation & support all devices.
	It support light & dark version, filpped layout, right side icons, borders menu for
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Chameleon Admin - Modern Bootstrap 4 WebApp & Dashboard HTML Template + UI Kit
	Version: 1.2
	Author: ThemeSelection
	Author URL: https://themeselection.com/
==========================================================================================*/
.horizontal-menu .navbar-horizontal {
  z-index: 99; }
  .horizontal-menu .navbar-horizontal .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 20px 10px 10px; }
  .horizontal-menu .navbar-horizontal .nav-item a span {
    font-size: 1rem; }
  .horizontal-menu .navbar-horizontal .nav-item i {
    margin-right: 0.5rem; }

.horizontal-menu .navbar-horizontal ul#main-menu-navigation > li > a {
  padding: 1.85rem 1rem; }

.horizontal-menu .dropdown-item.active, .horizontal-menu .dropdown-item:active {
  background-color: #FFFFFF !important;
  color: #2A2E30; }

.horizontal-menu .dropdown-item:hover, .horizontal-menu .dropdown-item.hover {
  background-color: transparent; }

.horizontal-menu #main-menu-navigation ul li a span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease, -o-transform 0.3s ease; }
  .horizontal-menu #main-menu-navigation ul li a span:hover,
  .horizontal-menu #main-menu-navigation ul li a span .hover {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px); }

.horizontal-menu #main-menu-navigation ul li.active, .horizontal-menu #main-menu-navigation ul li:hover,
.horizontal-menu #main-menu-navigation ul li .hover {
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
  transform: translateX(-4px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease, -o-transform 0.3s ease; }

.horizontal-menu #main-menu-navigation ul.dropdown-menu {
  padding: 0.5rem 0 0.5rem 1rem; }
  .horizontal-menu #main-menu-navigation ul.dropdown-menu .dropdown-submenu li.active, .horizontal-menu #main-menu-navigation ul.dropdown-menu .dropdown-submenu li:hover,
  .horizontal-menu #main-menu-navigation ul.dropdown-menu .dropdown-submenu li .hover {
    -webkit-transform: translateX(-4px);
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease, -o-transform 0.3s ease; }

.horizontal-menu.menu-collapsed #main-menu-navigation .nav-item a span {
  display: none; }

.horizontal-menu.menu-collapsed #main-menu-navigation .nav-item i {
  margin-left: 0.5rem; }

.horizontal-menu.menu-collapsed #main-menu-navigation ul.dropdown-menu {
  padding-left: 0.25rem; }

.horizontal-menu .navigation-header {
  font-family: inherit;
  color: #929292;
  padding: 8px 20px;
  font-size: 1rem; }

.horizontal-menu .navbar-flipped .navbar-nav .nav-item {
  float: right; }

.horizontal-menu .navbar-light ul#main-menu-navigation > li.active > a {
  border-bottom: 1px solid #28afd0;
  background: #FFFFFF; }

.horizontal-menu .navbar-light .active > a {
  font-weight: 700; }

.horizontal-menu .navbar-dark .nav-item.active > a {
  background-color: rgba(0, 0, 0, 0.05); }

.horizontal-menu .navbar-dark .nav-item:hover,
.horizontal-menu .navbar-dark .nav-item .hover {
  background-color: rgba(255, 255, 255, 0.05); }

.horizontal-menu .navbar-dark .active > a {
  font-weight: 700; }

@media (max-width: 767.98px) {
  .vertical-overlay-menu .main-menu.menu-fixed {
    top: 5rem; } }

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support
	light & dark version, filpped layout, right side icons, native scroll and borders menu
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Chameleon Admin - Modern Bootstrap 4 WebApp & Dashboard HTML Template + UI Kit
	Version: 1.2
	Author: ThemeSelection
	Author URL: https://themeselection.com/
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-left: 0; }

.vertical-overlay-menu .navbar .navbar-header {
  width: 260px;
  z-index: 999; }

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-left: 0; }

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  width: auto;
  z-index: 999; }

.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  -o-transition: width 0.25s, opacity 0.25s, -o-transform 0.25s;
  -moz-transition: width 0.25s, opacity 0.25s, transform 0.25s, -moz-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
  width: 260px;
  left: -260px; }
  .vertical-overlay-menu .main-menu .navigation .navigation-header .ft-minus {
    display: none; }
  .vertical-overlay-menu .main-menu .navigation > li > a > i {
    font-size: 1.5rem;
    margin-right: 12px;
    float: left; }
    .vertical-overlay-menu .main-menu .navigation > li > a > i:before {
      -webkit-transition: 200ms ease all;
      -o-transition: 200ms ease all;
      -moz-transition: 200ms ease all;
      transition: 200ms ease all; }
  .vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    content: "\f112";
    font-family: 'LineAwesome';
    font-size: 0.85rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out; }
  .vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
    top: 8px; }
  .vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .vertical-overlay-menu .main-menu .main-menu-footer {
    bottom: 55px; }
  .vertical-overlay-menu .main-menu .main-menu-footer {
    width: 260px; }
  .vertical-overlay-menu .main-menu.boxed-layout {
    position: relative; }
    .vertical-overlay-menu .main-menu.boxed-layout .main-menu.menu-fixed {
      position: absolute; }

.vertical-overlay-menu.menu-open .main-menu {
  opacity: 1;
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  -webkit-transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
  -o-transition: width 0.25s, opacity 0.25s, -o-transform 0.25s;
  -moz-transition: width 0.25s, opacity 0.25s, transform 0.25s, -moz-transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s;
  transition: width 0.25s, opacity 0.25s, transform 0.25s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s; }
  .vertical-overlay-menu.menu-open .main-menu.menu-light .navigation > li > a > i {
    display: inline-block;
    margin-right: 20px;
    background: #018a7c;
    width: 40px;
    height: 40px;
    border-radius: 12%;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12); }
  .vertical-overlay-menu.menu-open .main-menu.menu-light .navigation .hover > a > i, .vertical-overlay-menu.menu-open .main-menu.menu-light .navigation:hover > a > i,
  .vertical-overlay-menu.menu-open .main-menu.menu-light .navigation .open > a > i {
    -webkit-box-shadow: 0px 0px 20px rgba(253, 99, 107, 0.3);
    box-shadow: 0px 0px 20px rgba(253, 99, 107, 0.3); }
  .vertical-overlay-menu.menu-open .main-menu.menu-dark .navigation > li > a > i {
    display: inline-block;
    margin-right: 20px;
    background: #2c303b;
    width: 40px;
    height: 40px;
    border-radius: 12%;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black; }
  .vertical-overlay-menu.menu-open .main-menu.menu-dark .navigation .hover > a > i, .vertical-overlay-menu.menu-open .main-menu.menu-dark .navigation:hover > a > i,
  .vertical-overlay-menu.menu-open .main-menu.menu-dark .navigation .open > a > i {
    -webkit-box-shadow: 0px 0px 20px rgba(253, 99, 107, 0.3);
    box-shadow: 0px 0px 20px rgba(253, 99, 107, 0.3); }

.vertical-overlay-menu.menu-flipped .main-menu {
  right: -260px;
  left: inherit; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin: 0;
  margin-right: 260px; }

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float: right; }

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  -webkit-transform: translate3d(-260px, 0, 0);
  -moz-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

@media (max-width: 991.98px) {
  .vertical-overlay-menu .main-menu .main-menu-footer {
    bottom: 0px; } }
